<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ac.uk/standrews/graspide/grasp/GraspDSL" 
       class = "uk.ac.standrews.graspide.grasp.graspDSL.GraspDSLPackage"
       genModel = "model/generated/GraspDSL.genmodel" /> 
	
  </extension>



</plugin>
